.bg-success{
    background: #007d2f;
}
.bg-darked{
    background: #000000;
}
main .carousel-control-prev{
    top: unset !important;
    bottom: unset !important;
    opacity: 1 !important;
    transform: translateY(40px);
}
main .carousel-control-next{
    top: unset !important;
    bottom: unset !important;
    opacity: 1 !important;
    transform: translateY(40px);
}
footer{
    width: 100%;
    height: 220px;
    background: black;
    }
    
    footer .foter_top .container .row .col-12{
      display: flex;
      margin-top: 50px;
      }
      footer .foter_top .container .row .col-12 .col-4 h5{
          font-size: 18px;
          color: #ffffff;
      }
      footer .foter_top .container .row .col-12 .col-4 p{
          font-size: 15px;
          color: #bcbcbc;
      }
      footer .foter_top .container .row .col-12 .col-4 a{
        font-size: 15px;
        color: #bcbcbc;
      }


@media (min-width:576px) and (max-width:768px){
      
     footer .foter_top .container .row .col-12 .col-4 .ulli3{
        display: none;
    } 
    footer .foter_top .container .row .col-12 .col-4 .ulli1{
        display: none;
    } 

    main .main__top__slider .header__slider #carousel .carousel-inner .carousel-item .container .row .col-lg-6 .slider__img img{
      margin: auto;
      width: 500px;
      height: 450px;
    }
    main .main__top__slider .header__slider #carousel .carousel-control-prev span {
        font-size: 10px;
    }
    main .main__top__slider .header__slider #carousel .carousel-control-next span {
        font-size: 10px;
    }
}
@media (min-width:768px) and (max-width:992px){
    footer .foter_top .container .row .col-12 .col-4 .ulli3{
        display: none;
    } 
    main .main__top__slider .header__slider #carousel .carousel-control-prev span {
        font-size: 10px;
    }
    main .main__top__slider .header__slider #carousel .carousel-control-next span {
        font-size: 11px;
    }

}
@media (min-width:992px) and (max-width:1200px){
    main .main__top__slider .header__slider #carousel .carousel-inner .carousel-item .container .row .col-lg-6 .slider__img img{
        margin: auto;
        width: 570px;
        height: 470px;
      }
}